<div class="col-md-4">
    <h1>Movie List</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>

        <tr *ngFor="let movie of movies">
            <td>{{ movie.title}}</td>
            <td>{{ movie.releaseYear}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default" [routerLink]="['./details', movie.movieId]">
                        <span class="glyphicon glyphicon-zoom-in">

                        </span>
                    </button>
                    <button class="btn btn-default" [routerLink]="['/movies/edit', movie.movieId]">
                    <span class="glyphicon glyphicon-pencil">
                        </span>
                </button>
                    <button class="btn btn-default" [routerLink]="['/movies/delete', movie.movieId]">
                    <span class="glyphicon glyphicon-remove">
                        </span>
                </button>
                </div>
            </td>
        </tr>
    </table>

    <!-- <div *ngFor="let movie of movies">
        <movie-panel [movie]="movie">
            <header>{{movie.title}}</header>
        </movie-panel>
    </div> -->
</div>

<div class="col-md-4">
    <router-outlet>
    </router-outlet>
</div>